/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

/* Asterisk wildcard selector to override default styles added to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column; 
    /* Generic project styles */
    font-family: "Iceberg", static;
    color: white;
}

/* Header */
header {
    background-color: rgb(55, 55, 243);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.logo {
    color: white;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgb(55, 55, 243);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/*Nav toogle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    background-color: lightskyblue;
    color: white;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

.start-game {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-top: 20px;
}

/* Score board */
.score-board {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 50px 0 20px 0;
    background-color: rgba(55, 55, 243, 0.8);
}

.score {
    color: navy;
    font-weight: bold;
}

/* Game section */
.memory-game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-container {
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    row-gap: 15px; 
}

.cards-container {
    display: grid;
    grid-template-rows: 125px 125px 125px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 20px 10px;
    place-items: center;
}

.card {
    justify-items: center;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.back-face {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.front-face{
    height: 125px;
    width: 125px;
    transform: rotateY(90deg); 
    transition: all ease-in 0.25s;
    mix-blend-mode: multiply;
}

/* Button */
.restart-button {
    background-color: navy;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: rgba(55, 55, 243, 0.8);
    color: white;
}

/* Dynamic classes that are being added by JavaScript */
.toggled .front-face { 
    transform: rotateY(0deg); 
    transition-delay: 0.25s; 
} 

.item .back-face { 
    transition: all ease-in 0.25s; 
    transition-delay: 0.25s; 
} 
  
.toggled .back-face { 
    transform: rotateY(90deg); 
    transition-delay: 0s; 
}

/* Instruction page */
#instructions {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 20px auto;
}

/* Footer */
#social-networks {
    background-color: rgb(55, 55, 243);
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; 
}

#social-networks i {
    font-size: 160%; 
    padding: 5%;
    color: white;
 }

 /* Media query: phones and smaller devices */
 @media screen and (min-width: 576px) {
    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 50px;
    }

    .memory-game {
        width: 400px;
        height: 400px;
    }

    .score-board {
        width: 60%;
    }
 } 
 
/* tablets and larger (767px and up) */
@media screen and (min-width: 768px) {
    menu {
        display: flex;
    }

    .memory-game {
        width: 450px;
        height: 450px;
    }

    .score-board {
        width: 40%;
    }

    /* Larger devices (laptops and desktop, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid rgb(55, 55, 243);
        }

        .game-container {
            width: 100%;
        }

        .cards-container{
            grid-template-rows: 125px 125px 125px 125px;
            grid-template-columns: 33% 33% 33%;
            grid-gap: 10px 10px;
        }

        .memory-game {
            width: 500px;
            height: 500px;
        }

        .score-board {
           margin: 10px 0 10px 0; 
        }
    }
}

